<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sender_id %> : <%= f.label current_user.login %>
	<br />
  </div>
  <div class="field">
    <%= f.label :recipient_id %> :
    <%= f.label User.find_by_id(@message.recipient_id).login %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
  	<%#= f.sender_id = current_user.id %>
  	<%#= f.hidden_field :message, :sender_id, %>
    <%= f.submit %>
  </div>
<% end %>
