<p id="notice"><%= notice %></p>

<%- if @message %>
<p>
  <b>Sender:</b>
  <%= @message.sender_id %>
</p>

<p>
  <b>Recipient:</b>
  <%= @message.recipient_id %>
</p>

<p>
  <b>Title:</b>
  <%= @message.title %>
</p>

<p>
  <b>Body:</b>
  <%= @message.body %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', root_url %>

<% else %>
<p>Don't Have Messages</p>
<% end %>
