<p id="notice"><%= notice %></p>

<%- if @message %>
<%- @sender = User.find(@message.sender_id).login %>
<p>
  <b>Sender:</b>
  <%= @sender %>
</p>

<p>
  <b>Title:</b>
  <%= @message.title %>
</p>

<p>
  <b>Body:</b>
  <%= @message.body %>
</p>


<%= link_to 'Back', root_url %>

<% else %>
<p>Don't Have Messages</p>
<% end %>
