<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.login %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
	<%- if current_user.id != @user.id %>
	<%- if current_user.followings.find_by_following_user_id(@user.id) %>
		<b><%= link_to "Not Follow Your Friend", not_following_user_url(@user.id) %></b>
	<%- else %>
		<b><%= link_to "Follow Your Friend", following_user_url(@user.id) %></b>
	<%- end %>
	<% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_url %>
