<h1>Listing posts</h1>

<%- if @posts.count == 0 %>
	<div>No posts, yo!</div>
<%- else %>
	<table>
	  <tr>
	    <th>Type</th>
	    <th>Item</th>
	    <th>Price</th>
	    <th>Barter</th>
	    <th>Description</th>
		<th>User</th>
		<th></th>
		<th></th>
		<th></th>
	  </tr>
	
	<% @posts.each do |post| %>
	  <tr>
	    <td><%= post.post_type %></td>
	    <td><%= post.item %></td>
		<td><%= post.price %></td>
		<td><%= post.barter %></td>
		<td><%= post.description %></td>
		<td><%= User.find(post.user_id).login %></td>
	    <td><%= link_to 'Show', post %></td>
	    <td><%= link_to 'Edit', edit_post_path(post) %></td>
	    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
<%- end %>

<%- if current_user %>
	<br />
	<%= link_to 'New Post', new_post_path %>
<%- end %>

