<h1>Listing posts</h1>

<%- if @posts.count == 0 %>
	<div>No posts, yo!</div>
<%- else %>
	<% @posts.each do |post| %>
	<div class="post">
		<div class="user-details">
			<div class="user-pic">
				<img src="images/preggplant.jpg">
			</div>
			<div class="user-text">
				<%= link_to User.find(post.user_id).login, user_path(post.user_id) %>
			</div>
		</div>
		<div class="post-details">
			<div class="title">
				<a href="<%= post %>"><%= post.post_type %>ing <%= post.item %></a>
			</div>
			<div class="description">
				<%= post.description %>
			</div>
			<div class="price">
				Price: <%= post.price %><br>
				Barter accepted? <%= post.barter %>
			</div>
			<%#= debug current_user.id != post. %>
			<%#= debug post.user_id %>
			<%- if current_user.id == post.user_id %>
			<div class="footer">
				<%= link_to 'Edit', edit_post_path(post) %> |
				<%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete %> |
				Listing made <%= post.created_at %>
			</div>
			<% else %>
			<div class="footer">
				Listing made <%= post.created_at %>
			</div>
			<% end %>
			
		</div>
		<div class="clear"></div>
	</div>
	<% end %>
<%- end %>

<%- if current_user %>
	<br />
	<%= link_to 'New Post', new_post_path %>
<%- end %>

