<style type="text/css" media="screen">
	#map-container {
	  width: 800px;
	}

	#gmaps4rails_map {
	  width: 800px;
	  height: 400px;
	}
</style>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br />
    <%= select :post, :category, Array[ 'Produce', 'Compost', 'Tools', 'Help', 'Shout' ], :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :post_type %><br />
    <%= select :post, :post_type, Array[ 'Offer', 'Request' ], :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :item %><br />
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :barter %><br />
    <%= f.text_field :barter %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
	<div id="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>		
	</div>
	<div id="field">
    <%= f.label :gmaps %><br />
    <%= f.text_field :gmaps %>		
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>

<!-- <div id="map_container"> 
  <div id="gmaps4rails_map"></div>
</div>

<button type="button" id="ajax_map">Ajax Map</button> -->
<% end %>
