<style type="text/css" media="screen">
	#map-container {
	  width: 800px;
	}

	#gmaps4rails_map {
	  width: 800px;
	  height: 400px;
	}
</style>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br />
    <%= select :post, :category, Array[ 'Produce', 'Compost', 'Tools', 'Help', 'Shout' ], :prompt => true %>
  </div>
  <div class="field notForShout">
    <%= f.label :post_type %><br />
    <%= select :post, :post_type, Array[ 'Offer', 'Request' ], :prompt => true %>
  </div>
  <div class="field notForShout">
    <%= f.label :item %><br />
    <%= f.text_field :item %>
  </div>
  <div class="field notForShout">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field notForShout">
    <%= f.label :barter %><br />
    <%= f.text_field :barter %>
  </div>
  <div id="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
  	<% GeoIp.api_key = 'b2420532cf30358ea9a073e01aa0d11b9378c832b2287d1f94e8d808f12bd968' %>
  	<% geolocation = GeoIp.geolocation(request.remote_ip) %>
  	
    <%= f.label :address, 'City, State' %><br />
    <%= f.text_field :address, :value => geolocation && geolocation['city'] ? geolocation['city'].capitalize() + ', ' + geolocation['state'].capitalize() : '' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<!-- <div id="map_container"> 
  <div id="gmaps4rails_map"></div>
</div>

<button type="button" id="ajax_map">Ajax Map</button> -->
<% end %>
