<section id="filter">
    <div id="scope">
        <h1>Scope</h1>
        <ul class="selector">
            <li>
            	<a href="/feed/all">All</a>
            </li>
            <li>
            	<a href="/feed/near">Area</a>
            </li>
            <li>
            	<a href="/feed/nearme">Near Me</a>
            </li>
            <li>
            	<a href="/feed/friends">Friends</a>
            </li>
            <li>
            	<a href="/feed/communities">Communities</a>
            </li>
        </ul>
    </div>
    <div id="type">
        <h1>Posts</h1>
        <ul class="selector">
        	<li>
        		<a href="/feed/produce">Produce</a>
        	</li>
        	<li>
        		<a href="/feed/compost">Compost</a>
        	</li>
        	<li>
        		<a href="/feed/tools">Tools</a>
        	</li>
        	<li>
        		<a href="/feed/help">Help</a>
        	</li>
        	<li>
        		<a href="/feed/shouts">Shouts</a>
        	</li>
        </ul>
    </div>
    <div class="search">
        <form action="/posts/">
            <input type="text" name="search" placeholder="Search..."/>
            <input type="submit" name="submit" value="Search"/>
        </form>
    </div>
</section>

<section id="feed">
<%- if @posts.count == 0 %>
	<div class="notice">No posts found.</div>
<%- else %>
	<ul class="stories">
	<% @posts.each do |post| %>
		<% user = User.find(post.user_id) %>
		
		<%- unless post.category %>
			<% post.category = 'Shout' %>
		<%- end %>

		<li class="<%= post.category.downcase() %>
        	<%- unless post.category and post.category.downcase() == 'shout' %>
        		post.post_type
        	<%- end %>
        ">
            <div class="type">
                <a href="/feed/<%= post.category.downcase() %>" class="icon <%= post.category.downcase() %>" title="<%= post.category %>"><%= post.category %></a>
                <%- unless post.category and post.category.downcase() == 'shout' %>
        			<a href="/feed/<%= post.post_type.downcase() %>" class="icon <%= post.post_type.downcase() %>" title="<%= post.post_type %>"><%= post.post_type %></a>
        		<%- end %>
            </div>
            <div class="story">
                <%- if post.category.downcase() == 'shout' %>
                	<h2><%= link_to user.login, user_path(post.user_id) %> shouts:</h2>
            	<%- else %>
            		<h2><%= link_to user.login, user_path(post.user_id) %> is <%= post.post_type.downcase() %>ing <%= link_to post.item, post.category.downcase() + '/' + post.item %></h2>
            	<%- end %>
                <blockquote>
                    <%= post.description %>
                </blockquote>
                <%- unless post.category.downcase() == 'shout' %>
                <div class="offer">
                    <div class="price">
                        Price: <em>$12/lb</em>
                    </div>
                    <div class="barter">
                        Barter accepted: <em>yes</em>
                    </div>
                </div>
                <%- end %>
            </div>
            <div class="data">
                <div class="time"><%= post.created_at %></div>
                <div class="location">Location goes here</div>
            </div>
        </li>
	<% end %>
    </ul>
<%- end %>
</section>
<div id="footer-push"></div>

