<style type="text/css" media="screen">
	#map {
	  width: 800px;
	  height: 400px;		
	}
</style>

<section id="filter">
	<script>
		var scope = '<%= params['scope'] %>'
		var cat = '<%= params['cat'] %>'
	</script>
    <div id="scope">
        <h1>Scope</h1>
        <ul class="selector">
            <li>
            	<a id="scope-all" href="/feed/all/<%= params['cat'] %>">All</a>
            </li>
            <li>
            	<a id="scope-area"  href="/feed/area/<%= params['cat'] %>">Area</a>
            </li>
            <li>
            	<a id="scope-nearme" href="/feed/nearme/<%= params['cat'] %>">Near Me</a>
            </li>
            <li>
            	<a id="scope-friends" href="/feed/friends/<%= params['cat'] %>">Friends</a>
            </li>
            <li>
            	<a id="scope-communities" href="/feed/communities/<%= params['cat'] %>">Communities</a>
            </li>
        </ul>
    </div>
    <div id="type">
        <h1>Posts</h1>
        <ul class="selector">
        	<li>
        		<a id="posts-all"  href="/feed/<%= params['scope'] %>/all">All</a>
        	</li>
        	<li>
        		<a id="posts-produce" href="/feed/<%= params['scope'] %>/produce">Produce</a>
        	</li>
        	<li>
        		<a id="posts-compost" href="/feed/<%= params['scope'] %>/compost">Compost</a>
        	</li>
        	<li>
        		<a id="posts-tools" href="/feed/<%= params['scope'] %>/tools">Tools</a>
        	</li>
        	<li>
        		<a id="posts-help" href="/feed/<%= params['scope'] %>/help">Help</a>
        	</li>
        	<li>
        		<a id="posts-shouts" href="/feed/<%= params['scope'] %>/shouts">Shouts</a>
        	</li>
        </ul>
    </div>
    <div class="search">
        <form action="/posts/">
            <input type="text" name="search" placeholder="Search..."/>
            <input type="submit" name="submit" value="Search"/>
        </form>
    </div>
    <div class="actions">
        <form action="/posts/new">
            <input type="submit" name="newpost" value="New Post" />
        </form>
    </div>
</section>

<section id="feed">
<%- if @posts.count == 0 %>
	<div class="notice">No posts found.</div>
<%- else %>
	<ul class="stories">
	<% @posts.each do |post| %>
		<% user = User.find(post.user_id) %>
		
		<%- unless post.category %>
			<% post.category = 'Shout' %>
		<%- end %>

		<li class="<%= post.category.downcase() %><%- unless post.category and post.category.downcase() == 'shout' %> <%= post.post_type %><%- end %>">
            <div class="type">
                <a href="/feed/<%= params['scope'] %>/<%= post.category.downcase() %>" class="icon <%= post.category.downcase() %>" title="<%= post.category %>"><%= post.category %></a>
                <%- unless post.category and post.category.downcase() == 'shout' %>
        			<a href="/feed/<%= params['scope'] %>/<%= post.category.downcase() %>/type/<%= post.post_type.downcase() %>" class="icon <%= post.post_type.downcase() %>" title="<%= post.post_type %>"><%= post.post_type %></a>
        		<%- end %>
            </div>
            <div class="story">
                <%- if post.category.downcase() == 'shout' %>
                	<h2><%= link_to user.login, user_path(post.user_id) %> shouts:</h2>
            	<%- else %>
            		<h2><%= link_to user.login, user_path(post.user_id) %> is <%= post.post_type.downcase() %>ing <%= link_to post.item, '/item/' + post.item %></h2>
            	<%- end %>
                <blockquote>
                    <%= post.description %>
                </blockquote>
                <%- unless post.category.downcase() == 'shout' %>
                <div class="offer">
                    <div class="price">
                        Price: <em><%= post.price %></em>
                    </div>
                    <div class="barter">
                        Barter accepted? <em><%= post.barter %></em>
                    </div>
                </div>
                <%- end %>
            </div>
            <div class="data">
                <div class="time"><%= post.created_at %></div>
                <div class="location">Location goes here</div>
                <form action="/messages/new/<%= user.id %>">
                    <input type="hidden" name="post_ref" value="<%= post.id %>" />
                    <input type="submit" name"submit" value="Reply" title="Send <%= user.login %> a message" />
                </form>
            </div>
        </li>
	<% end %>
    </ul>
<%- end %>
</section>
<div id="footer-push"></div>
<style type="text/css" media="screen">
	.gmaps4rails_map {
		height = 400px;
		
	}
</style>

<%= gmaps(:markers => {:data => @json, :options => {:do_clustering => true } },
          :map_options => { :auto_adjust => true, :zoom => 5 },
          :last_map => true) %>


					<% @circles_json = '[ {"lng": -122.214897, "lat": 37.772323, "radius": 1000000} ]' %>