<!DOCTYPE html>
<html>
<head>
	<title>Gromunity - together we grow</title>
	<%= stylesheet_link_tag "master" %>
	<%= javascript_include_tag :defaults, "application" %>
	<%= csrf_meta_tag %>
</head>
<body>
<div id="globalwrapper">
	<header>
    	<h1><%= link_to 'Gromunity', root_path %></h1>
    	<section id="account">
        	<%- if current_user %>
				<h1>Welcome, <%= link_to current_user.login, user_path(current_user.id) %>!</h1>
	            <div class="notifications">
	            	<a href="/my/messages">Messages</a>
	                <a href="/my/notifications">Notifications</a>
	            </div>
	            <div class="me">
	                <a href="/my/settings">Account Settings</a>
	                <a href="/logout">Log Out</a>
	            </div>
			<%- else %>
				<%= link_to "Sign in", login_path %> | 
				<%= link_to "Create account", new_user_path %>
			<%- end %>
        </section>
    	<nav>
	        <ul>
	            <li>
	            	<a href="/">Feed</a>
	            </li>
	            <li>
	            	<a href="/users">Users</a>
	            </li>
	            <li>
	            	<a href="/communities">Communities</a>
	            </li>
	            <li>
	            	<a href="/events">Events</a>
	            </li>
	        </ul>
    	</nav>
    </header>
	
<%= yield %>
<div id="footer-push"></div>
</div>

<footer>
    <p>Copyright 2011 Gromunity</p>
    <p>Designed and Implemented by Aiden, Alex, Alex, Jae, <a href="http://jake.teton-landis.org/">Jake</a> and Raymond</p>
</footer>

</body>
</html>
