<!DOCTYPE html>
<html>
<head>
	<title>Gromunity - together we grow</title>
	<%= yield :head %> 
	<%= stylesheet_link_tag "scaffold", "master" %>
	<%= javascript_include_tag :defaults, "application" %>
	<%= csrf_meta_tag %>
    <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
<div id="globalwrapper">
	<header>
    	<h1><%= link_to 'Gromunity', root_path %></h1>
    	<section id="account">
        	<%- if current_user %>
				<h1>Welcome, <%= link_to current_user.login, user_path(current_user.id) %>!</h1>
	            <div class="notifications">
	            	<a class="icon messages" href="/messages">Messages</a>
	                <a class="icon notifications" href="/my/notifications">Notifications</a>
	            </div>
	            <div class="me">
					<%= link_to "Account Settings", edit_user_path(current_user.id) %>
	                <a href="/logout">Log Out</a>
	            </div>
			<%- else %>
				<%= link_to "Sign in", login_path %> | 
				<%= link_to "Create account", new_user_path %>
			<%- end %>
        </section>
    	<nav>
	        <ul>
	            <li>
	            	<a href="/">Feed</a>
	            </li>
	            <li>
	            	<a href="/users">Users</a>
	            </li>
	            <li>
	            	<a href="/communities">Communities</a>
	            </li>
	            <li>
	            	<a href="/events">Events</a>
	            </li>
	        </ul>
    	</nav>
    </header>
	
<%= yield %>
<%= yield :scripts %>
<div id="footer-push"></div>
</div>

<footer>
    <p class="copyright">Copyright 2011 Gromunity</p>
    <p>Designed and Implemented by Aiden, <a href="http://alex.nisnevich.com/">Alex</a>, Alex, Jae, <a href="http://gplus.to/justjake">Jake</a> and <a href="http://dygames.site11.com/">Raymond</a></p>

</footer>

</body>
</html>
